body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  display: block;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(47, 47, 47, 0.9);
}

.modal-content {
  position: absolute;
  background: #ffffff;
  border-radius: 13px;
  max-height: 70vh;
}

.bottom-margin {
  margin-bottom: 10px;
  margin-top: 10px;
}

.comments-scroll {
  max-height: 40vh;
}

.dynamic-half-page {
  margin: 20px;
  max-width: 650px;
}

.padding {
  padding-top: 15px;
  padding-bottom: 5px;
}
